@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.gradient-text {
  background: linear-gradient(90deg, #0072FF, #00D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-half-circle {
  clip-path: circle(50% at 50% 100%);
}